main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--SPACING-MEDIUM);
}

form {
  background-color: lightblue;
  box-shadow: 0 0 0.25em 0.25em #000;
  padding: var(--SPACING-MEDIUM);
  border-radius: 3em;
}

form i {
  font-size: var(--FS-SMALL);
  float: right;
  cursor: pointer;
}

form img {
  width: 25%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 25%;
  clear: both;
}

form h1 {
  margin-bottom: var(--SPACING-SMALL);
  font-size: var(--FS-LARGE);
}

form label {
  display: block;
  font-size: var(--FS-MEDIUM);
}

form input {
  display: block;
  padding: var(--SPACING-SMALLER);
  border-radius: 0.5em;
  width: 100%;
  max-width: 500px;
  margin: 0 auto var(--SPACING-MEDIUM);
}

form p {
  font-size: var(--FS-SMALL);
  max-width: 500px;
}

form button {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: var(--SPACING-MEDIUM) auto;
  padding: var(--SPACING-SMALLER);
  border-radius: 2em;
  background-color: var(--CELLULAR);
  color: purple;
  transition: all 0.5s ease;
  font-size: var(--FS-SMALL);
  cursor: pointer;
}

form button:disabled {
  cursor: not-allowed;
}

form button:is(:hover, :focus) {
  background-color: plum;
  color: darkblue;
}

form button:active {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}
