main {
  background: linear-gradient(lightblue, var(--CELLULAR), dodgerblue);
  min-height: 100vh;
  padding: var(--SPACING-MEDIUM);
  overflow: auto;
}

#logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 25%;
}

h1 {
  margin: var(--SPACING-MEDIUM) 0;
}

#table-container {
  display: block;
  width: 100%;
  max-height: 700px;
  overflow: auto;
  border: 2px solid #000;
}

table {
  width: 100%;
  height: 100%;
  position: relative;
  border-collapse: separate;
  border-collapse: collapse;
}

thead {
  border-bottom: 5px solid #000;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 900;
  padding: var(--SPACING-SMALL);
  min-width: 100px;
  border: 2px solid #000;
  background: linear-gradient(seagreen, darkcyan);
  color: aliceblue;
}

td {
  padding: var(--SPACING-SMALL);
  min-width: 100px;
  border: 2px solid #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(plum, pink, coral);
}

#name-heading {
  z-index: 2000;
  background: linear-gradient(to right, blueviolet, darkblue, slateblue);
}

.name {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1000;
  background: linear-gradient(to right, purple, rebeccapurple, darkmagenta);
  color: aliceblue;
  border-right: 5px solid #000;
}

.email {
  word-break: break-all;
}

#logoutButton {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: var(--SPACING-MEDIUM) auto;
  padding: var(--SPACING-SMALLER);
  font-size: var(--FS-SMALL);
  background-color: crimson;
  color: gold;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.5s ease;
}

#logoutButton:disabled {
  cursor: not-allowed;
}

#logoutButton:is(:hover, :focus) {
  background-color: palevioletred;
  color: blue;
}

#logoutButton:active {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

@media only screen and (min-width: 576px) {
  th,
  td {
    min-width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  th,
  td {
    min-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  th,
  td {
    min-width: 400px;
  }
}
