@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */

:root {

    /* COLORS */
    --BG-FIXED: linear-gradient(purple, darkviolet);
    --CELLULAR: #28aad5;

    /* FONTS */
    --FF: 'Roboto', sans-serif;

    --FS: 1em;
    --FS-SMALL: 1.5em;
    --FS-MEDIUM: 2em;
    --FS-LARGE: 3em;

    /* PADDINGS */
    --SPACING-SMALLEST: 0.25em;
    --SPACING-SMALLER: 0.5em;
    --SPACING-SMALL: 1em;   
    --SPACING-MEDIUM: 2em;
    --SPACING-LARGE: 3em;

}

/* UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.alpha {
    color: #fff;
}

.cellular {
    color: var(--CELLULAR);
}

.target-link {
    scroll-margin-top: 10vh;
}

.strike {
    text-decoration: line-through;
}

/* GENERAL STYLES */

html {
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    font-family: var(--FF);
    font-size: var(--FS);
    background: linear-gradient(to right, darkblue, blue, darkslateblue);
    color: #000;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    image-rendering: auto;
}



/* ========= Back to top ======= */

#top {
    position: fixed;
    bottom: 10vh;
    right: var(--SPACING-SMALL);
    z-index: 950;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 2.5em;
    height: 2.5em;
    background-color: purple;
    color: plum;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

#top.show {
    opacity: 0.4;
    pointer-events: auto;
}

#top.show:is(:hover, :focus) {
    opacity: 1;
    background-color: plum;
    color: purple;
}

#top:active {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
}
